{{#> decorators/page
  title="About Us"
  description="This is the About Us"
  keywords="styles, scss, css, bootstrap"
  pathToPublic="./public"
}}
  <header>
    <h1>About Us</h1>
    {{> nav/nav pageName="ABOUT"}}
  </header>
  <main>
  </main>
{{/decorators/page}}