// Generate classes using generate-classes utility mixin
@mixin generate-classes($class-data) {
  $class-name: map-get($class-data, class);
  @if ($class-name == null) {
    @error '"Class" is a required option of an utility';
  }

  $class-properties: map-get($class-data, property);
  @if ($class-properties == null) {
    @error '"Property" is a required option of an utility';
  }

  $values: map-get($class-data, values);
  @if ($class-properties == null) {
    @error '"Values" is a required option of an utility';
  }
  $valuesType: type-of($values);

  @each $v-key, $v-value in $values {
    $suffix: if($v-key == "", "", -#{$v-key});
    .#{$class-name}#{$suffix} {
      @each $class-property in $class-properties {
        #{$class-property}: if($valuesType == 'map', $v-value, $v-key) if($enable-important-for-utilities-classes, !important, null);
      }
    }
  }
}
