{{#> decorators/page
  title="Home page"
  description="This is the Home page"
  keywords="styles, scss, css, bootstrap"
  pathToPublic="./public"
}}
  <header>
    <h1>Home page</h1>
    {{> nav/nav pageName="HOME"}}
  </header>
  <main>
{{#> code-example/code-example}}
<pre tabindex="0">
<code data-lang="html">
<span><span><span class="cp">&lt;!doctype html&gt;</span></span></span>
<span><span><span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&#34;en&#34;</span><span class="p">&gt;</span></span></span>
<span><span>  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span></span></span>
<span><span>    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&#34;utf-8&#34;</span><span class="p">&gt;</span></span></span>
<span><span>    <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;viewport&#34;</span> <span class="na">content</span><span class="o">=</span><span class="s">&#34;width=device-width, initial-scale=1&#34;</span><span class="p">&gt;         </span></span></span>
<span><span>    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Bootstrap demo<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span></span></span>
<span><span>  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span></span></span>
<span><span>  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span></span></span>
<span><span>    <span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Hello, world!<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span></span></span>
<span><span>  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span></span></span>
<span><span><span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span></span></span>
</code>
</pre>
{{/code-example/code-example}}
{{#> code-example/code-example}}
<pre tabindex="0">
<code data-lang="html">
<span><span>    <span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Hello, world!<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span></span></span>
</code>
</pre>
{{/code-example/code-example}}
  </main>
{{/decorators/page}}
