{{#> decorators/page
  title="Home page"
  description="This is the Home page"
  keywords="styles, scss, css, bootstrap"
  pathToPublic="./public"
}}
  <main>
    <h1>Home page</h1>
  </main>
{{/decorators/page}}
