{{#> decorators/page
  title="Home page"
  description="This is the Home page"
  keywords="styles, scss, css, bootstrap"
  pathToPublic="./public"
}}
  <header>
    <h1>Home page</h1>
    {{> nav/nav pageName="HOME"}}
  </header>
  <main>
  </main>
{{/decorators/page}}
