<nav>
  <ul>
    <li class="nav-item {{#ifx pageName '===' 'HOME'}}active{{/ifx}}">
      <a href="/" class="nav-link">Home</a> 
    </li>
    <li class="nav-item {{#ifx pageName '===' 'ABOUT'}}active{{/ifx}}">
      <a href="./about" class="nav-link">About Us</a> 
    </li>
    </li>
  </ul>
</nav>